.about {
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  padding: 3rem;
  text-align: justify;
}

.about-header {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #111;
  margin-top: .5rem;
}

#scroll-to-one {
  position: absolute;
  bottom: 20%;
}

.profile-container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.skills {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}


/* .fa-bootstrap {
  margin: 0 .5rem;
} */

.skill-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 6rem;
}

.fa-3x {
  width: 100%;
  text-align: center;
}
.skill-text {
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  margin-top: .2rem;
}

.mongoimg {
  width: 3rem;
}

.expressimg {
  width: 3rem;
  height: 2rem;
  margin: .5rem;
}

.materialimg {
  width: 1rem;
  height: .5rem;
  margin: .5rem;
}

@media (min-width: 768px) {
  .about {
    padding: 5rem;
  }
  .about-header {
    padding: 2rem;
  }
  .profile-container {
    margin-top: 0;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1500px) {
  .about {
    padding: 7rem;
  }
  .about-header {
    padding: 4rem;
  }
}
@media (max-width: 500px) {
  #scroll-to-one {
    bottom: 0%;
  }
}