.parallax.one {
  background-image: url('./IMG_8515.JPEG');

  height: 100%;
  opacity: .65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax.one, .parallax.two {
    background-attachment: scroll;
  }
}