.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 6rem;
}

#scroll-to-two {
  position: relative;
  bottom: 7rem;
}

.work-header {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

.tech-icon {
  height: 2rem;
  color: black;
}
.c-img {
  opacity: .6;
  min-height: 33rem;
  transition: opacity .5s;
} 

.c-img:hover {
  opacity: 1;
  min-height: 33rem; 
} 

.carousel-container {
  margin-bottom: 8rem;
}

.carousel {
  margin: 0 10rem;
}

.my-caption h3 {
  text-transform: uppercase;
} 

.carousel-caption {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  opacity: 0.7;
  position: absolute;
} 

a.carousel-control-prev, a.carousel-control-next {
  background-color: black;
  opacity: .3;
  width: 7%;
} 

a.carousel-control-prev:active, a.carousel-control-next:active {
  background-color: black;
  opacity: .3;
  width: 7%;
} 

.carousel-indicators {
  margin-bottom: 2rem;
}

.mobile-show {
  display: none;
}

.desktop-show {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .mobile-show {
    display: inherit;
  }
  .desktop-show {
    display: none;
  }
  .work-container {
    padding-bottom: 1rem;
  }
  .carousel {
    width: initial;
    height: fit-content;
    margin: 0;
    box-shadow: 3px 3px 5px black;
    margin: 3px;
  }
  .work-header {
    width: 100%;
    text-align: center;
    padding-bottom: 0;
  }
  .carousel-caption {
    position: inherit;
    right: 15%;
    bottom: 11px;
    left: 15%;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    height: 5rem;
  }
  .my-caption p {
    padding-bottom: 1rem;
  }
  .my-caption h3 {
    margin-bottom: 0;
  }
  .carousel-indicators {
    margin-bottom: .1rem;
  }
  .c-img {
    min-height: 13rem;
  }
  a.carousel-control-prev, a.carousel-control-next {
    width: 10%;
    background-color: unset;
  }
  a.carousel-control-prev:active, a.carousel-control-next:active {
    width: 10%;
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%70fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%70fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
  }
}